# **Perceptron :**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/drive/MyDrive/ml datasets/IRIS/Iris.csv")

In [ ]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
df = df[:100]

In [ ]:
df["Species"] = df["Species"].apply(lambda x: 1 if x=="Iris-setosa" else 0)

In [ ]:
df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [ ]:
df

In [ ]:
x = [[1]*100]
for i in ['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']:
  temp = []
  for j in df[i]:
    temp.append(j)
  x.append(temp)
x= np.array(x)
x = x.T
t = []
for i in x:
  t.append(list(i))
x = t
print(x)

[[1.0, 5.1, 3.5, 1.4, 0.2], [1.0, 4.9, 3.0, 1.4, 0.2], [1.0, 4.7, 3.2, 1.3, 0.2], [1.0, 4.6, 3.1, 1.5, 0.2], [1.0, 5.0, 3.6, 1.4, 0.2], [1.0, 5.4, 3.9, 1.7, 0.4], [1.0, 4.6, 3.4, 1.4, 0.3], [1.0, 5.0, 3.4, 1.5, 0.2], [1.0, 4.4, 2.9, 1.4, 0.2], [1.0, 4.9, 3.1, 1.5, 0.1], [1.0, 5.4, 3.7, 1.5, 0.2], [1.0, 4.8, 3.4, 1.6, 0.2], [1.0, 4.8, 3.0, 1.4, 0.1], [1.0, 4.3, 3.0, 1.1, 0.1], [1.0, 5.8, 4.0, 1.2, 0.2], [1.0, 5.7, 4.4, 1.5, 0.4], [1.0, 5.4, 3.9, 1.3, 0.4], [1.0, 5.1, 3.5, 1.4, 0.3], [1.0, 5.7, 3.8, 1.7, 0.3], [1.0, 5.1, 3.8, 1.5, 0.3], [1.0, 5.4, 3.4, 1.7, 0.2], [1.0, 5.1, 3.7, 1.5, 0.4], [1.0, 4.6, 3.6, 1.0, 0.2], [1.0, 5.1, 3.3, 1.7, 0.5], [1.0, 4.8, 3.4, 1.9, 0.2], [1.0, 5.0, 3.0, 1.6, 0.2], [1.0, 5.0, 3.4, 1.6, 0.4], [1.0, 5.2, 3.5, 1.5, 0.2], [1.0, 5.2, 3.4, 1.4, 0.2], [1.0, 4.7, 3.2, 1.6, 0.2], [1.0, 4.8, 3.1, 1.6, 0.2], [1.0, 5.4, 3.4, 1.5, 0.4], [1.0, 5.2, 4.1, 1.5, 0.1], [1.0, 5.5, 4.2, 1.4, 0.2], [1.0, 4.9, 3.1, 1.5, 0.1], [1.0, 5.0, 3.2, 1.2, 0.2], [1.0, 5.5, 3.5, 1.3, 0.2], [1.0, 4.9, 3.1, 1.5, 0.1], [1.0, 4.4, 3.0, 1.3, 0.2], [1.0, 5.1, 3.4, 1.5, 0.2], [1.0, 5.0, 3.5, 1.3, 0.3], [1.0, 4.5, 2.3, 1.3, 0.3], [1.0, 4.4, 3.2, 1.3, 0.2], [1.0, 5.0, 3.5, 1.6, 0.6], [1.0, 5.1, 3.8, 1.9, 0.4], [1.0, 4.8, 3.0, 1.4, 0.3], [1.0, 5.1, 3.8, 1.6, 0.2], [1.0, 4.6, 3.2, 1.4, 0.2], [1.0, 5.3, 3.7, 1.5, 0.2], [1.0, 5.0, 3.3, 1.4, 0.2], [1.0, 7.0, 3.2, 4.7, 1.4], [1.0, 6.4, 3.2, 4.5, 1.5], [1.0, 6.9, 3.1, 4.9, 1.5], [1.0, 5.5, 2.3, 4.0, 1.3], [1.0, 6.5, 2.8, 4.6, 1.5], [1.0, 5.7, 2.8, 4.5, 1.3], [1.0, 6.3, 3.3, 4.7, 1.6], [1.0, 4.9, 2.4, 3.3, 1.0], [1.0, 6.6, 2.9, 4.6, 1.3], [1.0, 5.2, 2.7, 3.9, 1.4], [1.0, 5.0, 2.0, 3.5, 1.0], [1.0, 5.9, 3.0, 4.2, 1.5], [1.0, 6.0, 2.2, 4.0, 1.0], [1.0, 6.1, 2.9, 4.7, 1.4], [1.0, 5.6, 2.9, 3.6, 1.3], [1.0, 6.7, 3.1, 4.4, 1.4], [1.0, 5.6, 3.0, 4.5, 1.5], [1.0, 5.8, 2.7, 4.1, 1.0], [1.0, 6.2, 2.2, 4.5, 1.5], [1.0, 5.6, 2.5, 3.9, 1.1], [1.0, 5.9, 3.2, 4.8, 1.8], [1.0, 6.1, 2.8, 4.0, 1.3], [1.0, 6.3, 2.5, 4.9, 1.5], [1.0, 6.1, 2.8, 4.7, 1.2], [1.0, 6.4, 2.9, 4.3, 1.3], [1.0, 6.6, 3.0, 4.4, 1.4], [1.0, 6.8, 2.8, 4.8, 1.4], [1.0, 6.7, 3.0, 5.0, 1.7], [1.0, 6.0, 2.9, 4.5, 1.5], [1.0, 5.7, 2.6, 3.5, 1.0], [1.0, 5.5, 2.4, 3.8, 1.1], [1.0, 5.5, 2.4, 3.7, 1.0], [1.0, 5.8, 2.7, 3.9, 1.2], [1.0, 6.0, 2.7, 5.1, 1.6], [1.0, 5.4, 3.0, 4.5, 1.5], [1.0, 6.0, 3.4, 4.5, 1.6], [1.0, 6.7, 3.1, 4.7, 1.5], [1.0, 6.3, 2.3, 4.4, 1.3], [1.0, 5.6, 3.0, 4.1, 1.3], [1.0, 5.5, 2.5, 4.0, 1.3], [1.0, 5.5, 2.6, 4.4, 1.2], [1.0, 6.1, 3.0, 4.6, 1.4], [1.0, 5.8, 2.6, 4.0, 1.2], [1.0, 5.0, 2.3, 3.3, 1.0], [1.0, 5.6, 2.7, 4.2, 1.3], [1.0, 5.7, 3.0, 4.2, 1.2], [1.0, 5.7, 2.9, 4.2, 1.3], [1.0, 6.2, 2.9, 4.3, 1.3], [1.0, 5.1, 2.5, 3.0, 1.1], [1.0, 5.7, 2.8, 4.1, 1.3]]

In [ ]:
d = len(x[0])
n = len(x)
w = [0.1,0.2, 0.3, -0.1,0.05]

In [ ]:
y = []
y = list(df["Species"])

In [ ]:
z = []
for i in w:
    z.append(i)
z

[0.1, 0.2, 0.3, -0.1, 0.05]

In [ ]:
l=1
while True:
    l += 1
    yHat = []
    wTx = []
    for i in range(n):
        k = 0
        for j in range(d):
            k += x[i][j] * w[j]
        if k >= 0:
            yHat.append(1)
        else:
            yHat.append(0)
        if y[i] == 0 and yHat[i] == 1:
            for j in range(d):
                w[j] = w[j] - x[i][j]
        elif y[i] == 1 and yHat[i] == 0:
            for j in range(d):
                w[j] = w[j] + x[i][j]
        wTx.append(k)
    if z == w:
        break
    z = []
    for i in w:
        z.append(i)
w

[1.1,
 1.2999999999999998,
 3.8999999999999995,
 -5.300000000000001,
 -2.1499999999999995]

In [ ]:
print("num of epochs : ", l)

print("yHat => ", w[0], end = " + ")
for j in range(1, d):
    print(f'{w[j]}x{j}', end = "")
    if j != d:
        print(end = " + ")
print(" = 0")

num of epochs :  5
yHat =>  1.1 + 1.2999999999999998x1 + 3.8999999999999995x2 + -5.300000000000001x3 + -2.1499999999999995x4 +  = 0

In [ ]:
def predict(x,w):
  t = 0 
  for i in range(len(x)):
    t+=x[i]*w[i]
  if t>0:
    return 1
  else: 
    return 0

In [ ]:
pred = []
for i in x:
  pred.append(predict(i,w))

In [ ]:
correct = 0
for i in range(len(y)):
  if y[i]==pred[i]:
    correct+=1
  else:
    continue

In [ ]:
accuracy = correct/len(y)

In [ ]:
print("Accuracy od our model is: ",accuracy*100)

Accuracy od our model is:  100.0